@import "~bootstrap/scss/bootstrap";

.json {
  border: 1px solid #aaa;
}

pre {outline: 1px solid #ccc; padding: 5px; margin: 5px; }

#disclaimer {
  margin-top: 10px;
}

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  text-align: center;

  ul {
    list-style-type: none;
  }
}

.padding-footer {
  padding-bottom: 120px;
}

.title-padded {
  padding-top: 20px;
  padding-bottom: 20px;
}

.fade-in-text {
  display: inline-block;
  animation: fadeIn linear 1s;
  -webkit-animation: fadeIn linear 1s;
  -moz-animation: fadeIn linear 1s;
  -o-animation: fadeIn linear 1s;
  -ms-animation: fadeIn linear 1s;
}

@keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
}

@-moz-keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
}

@-webkit-keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
}

@-o-keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
}

@-ms-keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
}
